.wrapper {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

/* LG */
@media (min-width: 1080px) {
    .backgroundImage {
        position: absolute;
        top: 0;
        right: -20%;
        width: 70vw;
        height: 100%;
        background-image: url("../assets/images/ADAC LOGO-White.png");
        background-position: right;
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0.3;
        pointer-events: none;
        z-index: -1;
    }
}

/* MD */
@media (max-width: 1080px) {
    .backgroundImage {
        position: absolute;
        top: 0;
        right: -20%;
        width: 70vw;
        height: 100%;
        background-image: url("../assets/images/ADAC LOGO-White.png");
        background-position: right;
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0.3;
        pointer-events: none;
        z-index: -1;
    }
}

/* SM */
@media (max-width: 640px) {
    .backgroundImage {
        position: absolute;
        top: 0%;
        right: 0%;
        width: 100vw;
        height: 100%;
        background-image: url("../assets/images/ADAC LOGO-White.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 110%;
        opacity: 0.1;
        pointer-events: none;
        z-index: -1;
    }
}